@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Inconsolata:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Inconsolata", ui-monospace, SFMono-Regular, monospace;
  --color-yellow-50:  #ffffe6;
  --color-yellow-100: #ffffbf;
  --color-yellow-200: #ffff80;
  --color-yellow-300: #ffff00;
  --color-yellow-400: #e6e600;
  --color-yellow-500: #cccc00;
  --color-yellow-600: #b3b300;
  --color-yellow-700: #808000;
  --color-yellow-800: #666600;
  --color-yellow-900: #4d4d00;
  --color-yellow-950: #333300;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-mono);
  overflow-x: hidden;
}

/* Custom minimal scrollbar with zero borders or roundness */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}

::selection {
  background-color: var(--color-accent);
  color: #000000;
}